<h2 mat-dialog-title>Tipo documento</h2>
<mat-dialog-content>
    <form [formGroup]="tipoDocumentoForm">
        <div class="ntd-container">
            <mat-form-field>
                <input matInput placeholder="Codigo" formControlName="codigo" required>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Descripcion" formControlName="descripcion"></textarea>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-stroked-button color="primary" (click)="onSave()" [disabled]="tipoDocumentoForm.invalid">
        <mat-icon>save</mat-icon>Guardar
    </button>
    <button mat-stroked-button color="warn" (click)="onCancel()" >
        <mat-icon>cancel</mat-icon>Cancelar
    </button>
</mat-dialog-actions>
